.loader {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  border-radius: 8px;
  padding: 0.5rem 0;
  justify-content: start;
}

/* Contenedor principal */
.Container-words {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 60px; /* Altura de cada palabra */
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  background-color: #0c131d;
}

.word-slider {
  display: flex;
  flex-direction: column;
  animation: slideWords 8s ease-in-out infinite;
}

/* Palabras */
.word {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  font-size: 1.7rem; /* Tamaño de fuente por defecto */
  background: linear-gradient(45deg, #00a2ff, #00ffaa);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(0, 255, 170, 0.5);
  width: 100%;
  box-sizing: border-box;
}

/* Animación de las palabras */
@keyframes slideWords {
  0%, 20% { transform: translateY(0); }
  25%, 45% { transform: translateY(-60px); }
  50%, 70% { transform: translateY(-120px); }
  75%, 95% { transform: translateY(-180px); }
  100% { transform: translateY(0); }
}